<h1 class="page-header">Public Profile</h1>

<!-- Custom Success/Error Message -->
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- Table to Display User Info -->
<!--
<ul *ngIf="foundProfile" class="list-group">
  <li class="list-group-item"><strong>Username: </strong>{{ username }}</li>
  <li class="list-group-item"><strong>E-Mail: </strong>{{ email }}</li>
</ul>
-->

<table class="table table-striped table-hover " *ngIf="foundProfile">
  <tbody>
    <tr>
      <th>Username</th>
      <td>{{ username }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ email }}</td>
    </tr>
  </tbody>
</table>